:root {
    --font-ribeye: 'Ribeye', cursive;
    --font-roboto: 'Roboto', sans-serif;
    --color-white: #ffffff;
    --color-dark: #3C3C3C;
    --color-primary: #FCE1
}

/* 

    background-image: url("bg1.jpg");
    background-image: url("bg2.jpg");
    background-position: left;  
    background-repeat: no-repeat;
    background-attachment: fixed; 
 */
body{
    background-image: url(bg1.jpg), url(bg2.jpg);
    background-size:  40% auto, 50% auto;
    background-blend-mode: lighten;
    background-color: black;
    background-position: right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
}

li{
    
    display: inline;
    text-decoration: none;
}

li a{
    text-align: center;
    font: var(--font-ribeye);
    color: var( --color-white);
}
